section {
	@include site-width;
	margin: 10em auto;
}

@include mq-sm {
	section {
		margin: 5em auto;
	}
}

.section-title {
	font-size: 4rem;
	letter-spacing: .2em;
	color: $KEYCOLOR;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	&:before, &:after {
		content: '';
		display: inline-block;
		vertical-align: middle;
		@include background();
		width: 1.5em;
		height: 1.5em;
		background-size: contain;
		// animation
		animation-name: upDown;
		animation-duration: 4s;
		animation-timing-function: linear;
		animation-fill-mode: both;
		animation-iteration-count: infinite;
	}
	&:before {
		background-image: url('../image/title-before.png');
		margin-right: .3em;
	}
	&:after {
		background-image: url('../image/title-after.png');
		margin-left: .3em;
	}
}

@keyframes upDown {
	0% {
		transform: translateY(0);
	}
	25% {
		transform: translateY(-3px);
	}
	50% {
		transform: translateY(0px);
	}
	75% {
		transform: translateY(3px);
	}
	100% {
		transform: translateY(0);
	}
}

@include mq-xl {
	.section-title {
		font-size: 5rem;
		letter-spacing: .2em;
	}
}
@include mq-lg {
	.section-title {
		font-size: 4rem;
		letter-spacing: .1em;
	}
}
@include mq-md {
	.section-title {
		font-size: 3rem;
		letter-spacing: .1em;
	}
}
@include mq-sm {
	.section-title {
		font-size: 2rem;
	}
}


.section-sub {
	color: $KEYCOLOR;
	font-size: 1.125rem;
	text-align: center;
	margin-top: -1em;
	margin-bottom: 2.5em;
}
@include mq-sm {
	.section-sub {
		font-size: .9rem;
	}
}

.lede {
	text-align: center;
	margin: 2em auto 4em;
}

@include mq-sm {
	.lede {
		text-align: left;
	}
}

.heading {
	font-size: 1.75rem;
	-webkit-font-smoothing: antialiased;
	font-weight: 100;
	margin-bottom: 1em;
	line-height: 1.8;
}
@include mq-lg {
	.heading {
		font-size: 1.4rem;
	}
}
@include mq-sm {
	.heading {
		font-size: 1.2rem;
	}
}

.text {
	margin-top: 1em;
}

/* vision */

.vision {
	margin-top: 2em;
	line-height: 2.5;
	text-align: center;
	font-size: 1.125rem;
	&:first-of-type {
		margin-top: 4em;
	}
}
@include mq-sm {
	.vision {
		text-align: left;
	}
}

.vision-image {
	margin: 4em auto;
	text-align: center;
}
@include mq-sm {
	.vision-image {
		width: 40%;
	}
}


.vision-download {
	font-size: .9em;
	text-align: center;
	i {
		margin-right: .5em;
	}
}

@include mq-sm {
	text-align: left;
}

/* .challenge */
.challenge {
	margin: 2em auto;
}

.challenge__main {
	padding-top: 25%;
}
@include mq-lg {
	.challenge__main {padding-top: 70px;}
}
@include mq-md {
	.challenge__main {padding-top: 40px;}
}
@include mq-sm {
	.challenge__main {padding-top: 20px;}
	.challenge__main .heading {
		font-size: 1.75rem;
	}
}

.challenge__image {
	margin: 2em auto;
}

.challenge .pure-u-1 {
	margin: 2em 0;
}

/* contact */
.contact {
	width: 40%;
	margin: 0 auto;
}

@include mq-md {
	.contact {
		width: 50%;
	}
}
@include mq-sm {
	.contact {
		width: 60%;
	}
}

.contact .text i {
	margin-right: .5em;
}