/* fontsize */
$SMALLFONTSIZE:  12px;
$MEDIUMFONTSIZE: 16px;
$LARGEFONTSIZE:  16px;

/* color */
$FONTCOLOR: #525252;
$KEYCOLOR: #7eba27;

/* breakpoint */
$SMALL_BREAKPOINT: 35.5em;
$MEDIUM_BREAKPOINT: 48em;
$LARGE_BREAKPOINT: 64em;
$XLARGE_BREAKPOINT: 80em;